header{background-color:grey ;
   margin: 10px auto;
    text-align: center;
    padding-top: 30px;
   width:900px;
   height:100px}
        div{width:900px;
   margin: 10px auto;}
main{background-color: darkgrey;
height: 300px;
padding-top: 30px;
text-align: center}
        aside{background-color:yellow;
   padding-top: 30px;
    height: 300px;         
   text-align:center;
   width: 300px;
   float:left;
  }
        footer{background-color:pink;
   padding-top: 30px;
   margin: 10px auto;
   text-align: center;
   width:900px;
   height:100px}
 
